<a href="https://colab.research.google.com/github/18K41A04B6/pe-AI/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
def trianglearea(a=float(input("enter the first side")),b=float(input("enter the second side")),c=float(input("enter the third side"))):
  s=(a+b+c)/2
  area=(s*(s-a)*(s-b)*(s-c))**0.5
  print('The area of triangle is %0.2f'%area)
trianglearea()

enter the first side15
enter the second side18
enter the third side20
The area of triangle is 129.76

2.Take a string from end user and check if the value is palindrome or not

In [ ]:
 def palindrome (str=input("enter string:")):
  if (str==str[::-1]):
   print ("given string is palindrome")
  else:
   print ("string is not palindrome")
palindrome ()

enter string:madam
given string is palindrome

3.Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
def leapyr(yr=int(input("enter the year:"))):
 if yr%4==0:
   print(yr,"is a leap year")
 else:
   print(yr,"is not a leap year")
leapyr()

enter the year:2000
2000 is a leap year

4.  Space To Hyphen problem 
Take a string as input, and replaces spaces    with hyphens -, and returns a string.
Input:  This program converts spaces into hyphen
      Output:      This-program-converts-spaces-into-hyphen

In [ ]:
 def sentence(s=input("enter a sentence")):
  if s!=" ":
    print(s.replace(" " ,"-"))
     
  else:
    print(s)
sentence()

enter a sentenceThis program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
 items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordsorange,white,red,cyan,green,magneta,cyan,pink,white
cyan,green,magneta,orange,pink,red,white

6.Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
def taxcal(salary=int(input("enter monthly salary in Rilees:"))):
 income=salary*12
 print(income)
 if income in range(0,250000):
  print("NO NEED TO PAY TAX","\n","NILL")
 else:
  print("HAVE TO PAY TAX")
  if income in range(250001,500000):
    print("total income is:",income*0.05)
  elif income in range(500001,750000):
    print("total income is:", income*0.1)
  elif income in range(750001,100000):
    print("total income is:",income*0.15)
  elif income in range(1000001,1250000):
    print("total income is:",income*0.2)
  elif income in range(1250001,1500000):
    print ("total income is:",income*0.25)
  elif income>1500000:
    print("total income is:",income*0.3)
  else:
    print ("")
taxcal()

enter monthly salary in Rilees:10000
120000
NO NEED TO PAY TAX
 NILL

7.Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
 def convert(list):
  s=[str(i) for i in list]
  res=int("".join(s))
  return(res)

In [ ]:
 list=[11,33,50]
print(convert(list))

113350

8. Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
 #the constants
SPM= 60
SPH=3600
SPD= 86400
def totsec(days=int(input("Enter number of Days: ")),hours= int(input("Enter number of Hours: ")),minutes=int(input("Enter number of Minutes: ")),seconds = int(input("Enter number of Seconds: "))):
  totalseconds = days * SPD
  totalseconds = totalseconds + ( hours * SPH)
  totalseconds = totalseconds + ( minutes * SPM)
  totalseconds = totalseconds + seconds
   # the result
  print("Total number of seconds: ","%d"%(totalseconds))
totsec()

Enter number of Days: 30
Enter number of Hours: 15
Enter number of Minutes: 18
Enter number of Seconds: 4
Total number of seconds:  2647084

9.Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
x=int(input("first number: "))
y=int(input("second number: "))
z=int(input("third number: "))
a1=min(x,y,z)
a3=max(x,y,z)
a2=(x+y+z)-a1-a3
print("Number in sorted order: ",a1,a2,a3)

first number: 30
second number: 34
third number: 15
Number in sorted order:  15 30 34

10.Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
 #year
year = int(input("Input a year: "))
if (year % 400 == 0) and (year % 4 == 0) : 
    leap_year = True
else:
    leap_year = False
# month
month = int(input("Input a month [01-12]: "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
# day
day = int(input("Input a day [1-31]: "))
if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2020
Input a month [01-12]: 04
Input a day [1-31]: 15
The next date is [yyyy-mm-dd] 2020-4-16.

11.Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
 from functools import reduce
list=[45,3,2,89,72,1,10,7]
result=reduce ((lambda x,y:x*y),list)
print("Result=",result)

Result= 121111200

12.Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
Num_list=[5,6,8,34,89,1]
print("The original list:"+str(Num_list))
res=[Num_list[i]+Num_list[i+1] for i in range (len(Num_list)-1)]
print("Out_list:"+str(res))

The original list:[5, 6, 8, 34, 89, 1]
Out_list:[11, 14, 42, 123, 90]

13.Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
 input=[(1,5),(5,6),(30,8),(240,3),(720,9),(6480,1)]
output=[]
for elem in input:
  temp=elem[0]*elem[1]
  output.append(temp)
print("Out_list of tuple:")
print(output)

Out_list of tuple:
[5, 30, 240, 720, 6480, 6480]

14.Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
input_number=input("enter the number:")
List= [] 
for i in range(len(input_number)):
 List.insert(i,input_number[i])
print(List)

enter the number:586392
['5', '8', '6', '3', '9', '2']

15.Write a program that finds the longest palindromic substring of a given string

In [ ]:
 class solution(object):
     def longestpalindrome(self,s):
         dp=[[False for i in range(len(s))] for i in range(len(s))]
         for i in range(len(s)):
             dp[i][i]=True 
         maxlength=1
         start=0
         for l in range(2,len(s)+1):
            for i in range(len(s)-l+1):
               end=i+l
               if l==2:
                 if s[i]==s[end-1]:
                    dp[i][end-1]=True 
                    maxlength=l
                    start=i
               else:
                 if s[i]==s[end-1] and dp[i+1][end-2]:
                        dp[i][end-1]=True 
                        maxlength=l 
                        start=i 
         return s[start:start+maxlength]
ob1=solution()
print(ob1.longestpalindrome("malayalam madam int"))

malayalam

16. Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:
 
1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:
 a=input("enter the string1:")
b=input("enter the string2:")
if b in a :
  print("output is: 1 ")
else:
  print("output is: 0")

enter the string1:1010110010
enter the string2:10110
output is: 1

17.  POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
emptying a vessel,
filling a vessel,
pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.
Input
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.
 
Example
Sample input:
2
5
2
3
2
3
4
 
Sample output:
2
-1

In [ ]:
 def gcd(a,b):
 
    if b==0: 
 
        return a 
 
    return gcd(b,a%b) 
 
def countsteps(a,b,c): 
 
    v1=b
 
    v2=0
 
    count=1
 
    while ((v1 is not c) and (v2 is not c)): 
 
        temp=min(v1,a-v2) 
 
        v2=v2+temp 
 
        v1=v1-temp 
 
        count=count+1
 
        if ((v2==c)or(v1==c)): 
 
            break
 
        if v1==0: 
 
            v1=b 
 
            count=count+1
 
        if v2==a: 
 
            v2=0
 
            count=count+1
 
    return count 
 
def ispossible(a,b,c): 
 
    if a>b: 
 
        temp=a 
 
        a=b 
 
        b=temp 
 
    if c>b: 
 
        return -1
 
    if (c%(gcd(b,a)) is not 0): 
 
        return -1
 
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
 
t=int(input("Enter no of testcases : "))
 
for i in range(t):
 
  a=int(input("Enter capacity of vessel a : "))
 
  b=int(input("Enter capacity of vessel b : "))
 
  c=int(input("Enter capacity to be obtained :"))
 
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1