<a href="https://colab.research.google.com/github/18K41A04B6/pe-AI/blob/master/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Develop a code for below scenario

In [ ]:
 yr=int(input("enter the year:"))
a=yr%12
b={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(a)
print(b[a])

enter the year:2000
8
dragon

2.A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
 
Input:  Distance to be travel: 520     
Weight of the goods: 50 
Output: Amount to be charged: 3120 /-

In [ ]:
 d=int(input("distance to be travel:"))
w=int(input("weight of the goods:"))
if d>=500:
  if w>=100:
     ch=d*5
     print("amount to be charged as:",ch)
  elif w>=10 and w<100:
    ch=d*6
    print("amount to be charged as:",ch)
  elif w<10:
    ch=d*7
    print("amount to be charged as:",ch)
  else:
      print("")
elif d<500:
  if w>100:
    ch=d*8
    print("amount to be charged as",ch)
  elif w<100:
     ch=d*5
     print("amount to be charged as:",ch)
  else:
       print("")
else:
  print("enter the distance and weight of goods")

distance to be travel:520
weight of the goods:50
amount to be charged as: 3120

3.  A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input:  Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [ ]:
 st=input("type of seat:")
money=input("type of payment mode")
if money=="cash":
   if st=="stalls":
     ct=625-625*0.1
     print("cost of ticket :",int(ct))
   elif st=="circle":
     ct=750-750*0.1
     print("cost of ticket :",int(ct))
   elif st=="upper class" :
      ct=850-850*0.1
      print("cost of ticket:",int(ct))
   elif st=="box":
      ct=1000-1000*0.1
      print("cost of ticket:",int(ct))
   else:
      print("")
elif money=="credit card":
   if st=="stalls":
      ct=625-625*0.05
      print("cost of ticket :",int(ct))
   elif st=="circle":
      ct=750-750*0.05
      print("cost of ticket :",int(ct))
   elif st=="upper class":
        ct=850-850*0.05
        print("cost of ticket :",int(ct))
   elif st=="box":
        ct=1000-1000*0.05
        print("cost of ticket :",int(ct))
   else:
       print("")
else :
  print("please choose type of seat and payment mode")

type of seat:circle
type of payment modecash
cost of ticket : 675

4.Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature  initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
 it,ft,m=map(int,input().split())
# m is in kg,temperatures it and ft are in degree celsius
q=m*(ft-it)*4184
print("energy in joules",q)

25 50 7
energy in joules 732200

5. Develop a program that prompts user to enter month and  print 
Winter  -   December ,January and February
Spring  -   March ,April and May
Summer  --- June ,July, August
Autumn   -- September ,October, November

In [ ]:
 month =input("enter month:")
if month in ("december","january","feburuary"):
  print("winter")
elif month in ("march","april","may"):
  print("spring")
elif month in ("june","july","august"):
  print("summer")
else:
  print("Autumn")

enter month:april
spring

6. Body Mass Index

In [ ]:
 wgt,hgt=map(float,input().split())
#wgt is weight in pounds and height in inches
w=wgt*0.45359237
h=hgt*0.0254
BMI=w/h*h
print(BMI)
if BMI<18.5:
  print("underweight")
elif 18.5<=BMI<25.0:
  print("normal")
elif 25.0<=BMI<30.0:
  print("overweight")
elif 30.0<=BMI:
  print("obese")
else:
  print("")

50 6
22.679618500000004
normal

7.Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer     (   ex: input 745   # output =16    (7+4+5) )

In [ ]:
n=int(input("enter a number between 100 and 1000:"))
sum=0
if n  in range(100,1000):
 while (n!=0):
   temp=n%10
   n=n/10
   sum=int(sum+temp)
 print(sum)

enter a number between 100 and 1000:745
16

8.
Print all palindrome numbers between 1 to 1000.

In [ ]:
num=int(input("enter the value:"))
for pn in range(1,num):
#pn is a palindrome number
 temp=pn
 rev=0
 while (temp>0):
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
 if pn==rev:
  print(pn)

enter the value:1000
1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

9. Print all Armstrong numbers between 1 to 1000.

In [ ]:
 lower=int(input("enter number"))
upper=int(input("enter upper number"))
for num in range(lower,upper):
  temp=num
  sum=0
  while (temp>0):
    n=temp%10
    sum=sum+n**3
    temp=temp//10
    if num==sum:
      print(num)

enter number1
enter upper number1000
1
64
125
153
216
370
371
407
729

10.Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
lower=int(input("initial value"))
upper=int(input("final value"))
for num in range(lower,upper):
  if num%3==0 and num/3!=0:
    print("fizz")
  elif num/3!=0 == num/5!=0:
    print("fizzbuzz")
  elif num%5==0 and num/5!=0:
    print ("fizzbuzz")
  else:
    print(num)

initial value1
final value100
1
2
fizz
4
fizzbuzz
fizz
7
8
fizz
fizzbuzz
11
fizz
13
14
fizz
16
17
fizz
19
fizzbuzz
fizz
22
23
fizz
fizzbuzz
26
fizz
28
29
fizz
31
32
fizz
34
fizzbuzz
fizz
37
38
fizz
fizzbuzz
41
fizz
43
44
fizz
46
47
fizz
49
fizzbuzz
fizz
52
53
fizz
fizzbuzz
56
fizz
58
59
fizz
61
62
fizz
64
fizzbuzz
fizz
67
68
fizz
fizzbuzz
71
fizz
73
74
fizz
76
77
fizz
79
fizzbuzz
fizz
82
83
fizz
fizzbuzz
86
fizz
88
89
fizz
91
92
fizz
94
fizzbuzz
fizz
97
98
fizz

11.Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesnt a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers H height of the well, next U meters climbs up in each step, and the last D meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
    Input:                      Ouput 
    200 50 1                        5
    Example 2:
    Input:                      Output
    500 20 15                      98

In [ ]:
h=int(input("enter height"))
u=int(input("enter steps moved"))
d=int(input("enter steps slipped"))
if d>=u and h>u:
 print ("-1")
elif h<=u:
 print("1")
else :
 n=(h-u)/(u-d)
 n=n+2
 print(int(n))

enter height500
enter steps moved20
enter steps slipped15
98